<td class="col-sm-4">
  <%= form_for([:admin,member]) do |f| %>
    <%= f.select :role, [["普通管理员", "user"], ["一级管理员", "editor"], ["超级管理员", "admin"]], {}, class: 'input-sm' %>
    <%= f.submit "保存", class: 'btn btn-info btn-xs' %>
  <% end %>
</td>