<div class="container">
  <div class="col-sm-offset-3">
    <h2>编辑管理员</h2>
  </div>
  <%= form_for([:admin,@member], html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
    <div class ="form-group">
      <label class="col-sm-2 control-label">用户名:</label>
      <div class="col-sm-4">
        <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">邮箱:</label>
      <div class="col-sm-4">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">新密码:</label>
      <div class="col-sm-4">
        <%= f.password_field :password, class: "form-control", value: '' %>
        <label class="control-label">（密码至少为8位, 若不修改请留空白）</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button class="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-floppy-save">保存</span>
        </button>
        <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">
          <span class="glyphicon glyphicon-hand-left">返回</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
