<div class="container">
  <div class="col-sm-offset-3">
    <h2>编辑订单</h2>
  </div>
  <div class="col-md-1 row pull-right">
    <a href="#add-product" data-toggle="modal" class="btn btn-primary btn-sm">添加订单产品</a>
  </div>
  <div class="col-md-2 row col-sm-offset-3 pull-right">
    <button class="btn btn-success" type="button" onclick="$('#form_save').click()">
      <span class="glyphicon glyphicon-floppy-save">保存</span>
    </button>
    <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">
      <span class="glyphicon glyphicon-hand-left">返回</span>
    </button>
  </div>
  <%= render 'form' %>
</div>
