.print-hide {
	display: none;
}

.print-font-size {
  @media print {
    font-size: 3px !important;
  }
}

.well > .row {
  @media print {
    position:relative;
  }
}

.print-pdf-hide {
	@media print {
  	display: none;
  }
}

.print-pdf-show {
	@media print {
  	display: inline !important;
  }
}

.col-md-6 {
  @media print {
    display: inline-block;
  }
}

.print-right {
  @media print {
    position: absolute !important;
  }
}

.print-left {
  @media print {
    margin-left: 350px;
  }
}

.invoice-table {
  @media print {
    tbody > tr > td {
      padding: 2px !important;
    }

    tfoot > tr > td {
      padding: 2px !important;
    }
  }
}

.pdf-row {
  @media print {
    height: 125px;
  }
}

.pdf-well {
  @media print {
    min-height: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
  }
}
