.print-hide {
	display: none;
}

.invoice {
  @media print {
    font-size: 8px;
  }
}

.print-pdf-hide {
	@media print {
  	display: none;
  }
}

.print-pdf-show {
	@media print {
  	display: inline !important;
  }
}

.col-md-6 {
  @media print {
    display: inline-block;
  }
}

.print-left {
  @media print {
    margin-left:200px;
  }
}
