.product_weight {
  width: 1600px;
  margin-left: -200px;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.navbar-default {
  background-color: #563d7c;
  border-color: #463265;

  .navbar-nav > li > a {
    color: #fff;
  }

  .navbar-nav > .open > a:focus {
    background-color: #463265;
    color: #fff;
  }
}

.nav-active {
  background-color: #463265;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
