<% content_for :my_title_info do %>
  要货啦
<% end %>
<center>
	<div>
	  <h1 style="font-size: 50px;">要货啦APP下载</h1>
	</div>
	<div class="panel panel-default">
		<!--div>
			<div>
				<h1 style="font-size: 50px;">iOS平台</h1>
	  		<a href="https://itunes.apple.com/cn/app/wan-zhuan-quan-cheng/id1080257130?mt=8" class="btn btn-primary btn-lg" style="font-size: 50px;">点击下载</a>
	  	</div>
	  	<%#= image_tag 'http://7xrlp8.com1.z0.glb.clouddn.com/iOS.png', size:"400x400" %>
	  </div>
	  <div>
	  	<div>
	  		<h1 style="font-size: 50px;">Android平台</h1>
	  		<a href="https://www.pgyer.com/3OVL" class="btn btn-primary btn-large" style="font-size: 50px;">点击下载</a>
	  	</div>
	  	<%#= image_tag 'http://7xrlp8.com1.z0.glb.clouddn.com/android.png', size:"400x400" %>
	  </div-->
	  <div>
	  	<div>
	  		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.android.yaohuola" class="btn btn-primary btn-large" style="font-size: 50px;">点击下载</a>
	  	</div>
	  	<%= image_tag 'http://7xrlp8.com1.z0.glb.clouddn.com/download.png', size:"400x400" %>
	  </div>
	<div>
</center>